.message {
    display: flex;
    align-items: flex-end;
    margin: 10px;
 }

.contentMessage {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px 5px 5px 0px;

}

.avatar  {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255,255,255, 0.3) 0);
}
.name {
    font-size: 20px;
    font-weight: bold;
    color: #af597f;
}
.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    color: #99ff99;
}
.time {
    display: flex;
    justify-content: flex-end;
    color: #8d8f91;
}
