.select {
    width: 100px;
    padding: 5px;
    padding-right: 50px;

    cursor: pointer;
    background-color: #003300;
    color: #55ffff;

}

.select:focus {
    outline: none;
    border: #99ff99 solid 2px
}

.option {
color: #003300;
  background: #99ff99;
}

.option:checked {
    background: #003300;
    color: #99ff99
}

.option:hover {
    box-shadow:  0 0 10px 100px #FED20F inset;
    transition: all .2s ease-in-out;
    background: crimson;
}